<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.jk.kaoyandanci">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar"
        tools:ignore="AllowBackup">
        <activity android:name=".ui.activity.LearnWordActivity" />
        <activity android:name=".ui.activity.SearchWordActivity" />
        <activity android:name=".ui.activity.WordDetailActivity" />
        <activity android:name=".ui.activity.IntroActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.YoudaoWordActivity" />
        <activity android:name=".ui.activity.CommonQuestionActivity" />
        <activity android:name=".ui.activity.SolutionActivity" />
        <activity android:name=".ui.activity.DisplaySettingActivity" />
        <activity android:name=".ui.activity.EmptyActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.DonateActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.WordListActivity" />
        <activity android:name=".ui.activity.AdvanceSettingActivity" />
        <activity android:name=".ui.activity.MyWordListActivity"/>
    </application>

</manifest>